h1{
    border-bottom: 1px solid #EFEAEA;
}

.book-summary ul.summary li.active>a {
  color: #42b983;
  background: 0 0;
  text-decoration: none;
}
.markdown-section a {
  color: #42b983;
  text-decoration: none;
  background: 0 0;
}