@charset "utf-8";
/*首页*/
/* CSS Document */
/* 首页公共元素 */
html {
  min-height: 100%;
  _height: 100%;
  *min-height: auto;
  position: relative;
  height: 100%;
  word-wrap: break-word;
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  list-style: none;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}
input[type='radio'],
input[type='checkbox'] {
  margin-top: 4px;
}
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
hr,
p,
a,
span,
em,
strong,
form,
input,
textarea,
button,
img {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑', Arial;
}
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

table {
  background: #fff;
}
input,
textarea,
button {
  font-size: 12px;
}
ul,
dd,
dt {
  list-style: none;
}
td > ol {
  padding-left: 30px;
  margin: auto;
}
td > ul {
  padding-left: 30px;
  margin: auto;
  list-style: disc;
}
input:focus {
  box-shadow: 0 1px 5px 3px #c7d3da;
  text-decoration: none;
}
input,
img {
  border: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: rgb(195, 18, 18);
}
a.blue,
.blue {
  color: #2158b4;
}
a.blue2,
.blue2 {
  color: #396fc9;
}
a:link.disable_link {
  color: #333;
  text-decoration: none;
}
a:hover.disable_link,
a:visited.disable_link,
a:active.disable_link {
  color: #333;
  text-decoration: none;
}

/*元素布局*/
body {
  background: #fff url(../images/header_bg.jpg) no-repeat top center;
}
.pager_m {
  width: 1003px;
  margin: 0 auto;
}
.page_header {
  width: 1003px;
  height: 140px;
}
.page_header_logo {
  width: 350px;
  margin-top: 24px;
  background: url(../images/logo.png) no-repeat;
  padding-left: 70px;
  height: 50px;
  text-align: left;
  float: left;
}
.page_header p {
  margin: 4px 0 0 0;
}
.sys_cn {
  font-size: 28px;
  font-weight: bold;
}
.sys_en {
  font-size: 12px;
  line-height: 8px;
}
.sub_info {
  float: right;
  margin-top: 3px;
}
.sub_info ul {
  margin: 0;
  padding: 0;
}
.sub_info ul li {
  float: left;
  margin: 0 8px;
  font-size: 12px;
}
.sub_info ul li a {
  color: #000000;
  text-decoration: none;
}
.sub_info ul li a:hover {
  color: #c41923;
}
.main_nav {
  width: 1003px;
  float: left;
  margin-top: 25px;
}

.main_nav a {
  width: 175px;
  height: 40px;
  display: block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-top: 1px;
  float: right;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
  margin-left: 2px;
}
.main_nav a:hover {
  width: 175px;
  height: 40px;
  display: block;
  border-top-left-radius: 5px;
  background: #ffffff;
  color: #c41923;
  border-top-right-radius: 5px;
}
a.active_nav {
  width: 175px;
  height: 40px;
  display: block;
  border-top-left-radius: 5px;
  background: #ffffff;
  color: #c41923;
  border-top-right-radius: 5px;
  margin-top: 1px;
  color: #c41923;
}
.position_nav {
  width: 1003px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  background: #f5f5f5;
  float: left;
  margin-top: 10px;
}
.position_nav_l {
  float: left;
  margin-left: 10px;
}
.position_nav_r {
  float: right;
  margin-right: 10px;
}
.position_nav_r a {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  text-align: center;
  margin-top: 8px;
  line-height: 19px;
  border: 1px solid #499eb3;
  margin-right: 2px;
  color: #000000;
  text-decoration: none;
  background: -ms-linear-gradient(top, #d9f9ff, #a3e9fa); /* IE 10 */
  background: -moz-linear-gradient(top, #d9f9ff, #a3e9fa); /*火狐*/
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#d9f9ff),
    to(#a3e9fa)
  ); /* Safari 4-5, Chrome 1-9*/
}
.position_nav_r a:hover {
  border: 1px solid #b1770b;
  background: -ms-linear-gradient(top, #f3e97f, #fdc159); /* IE 10 */
  background: -moz-linear-gradient(top, #f3e97f, #fdc159); /*火狐*/
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#f3e97f),
    to(#fdc159)
  ); /* Safari 4-5, Chrome 1-9*/
}
.position_nav_r a.current {
  border: 1px solid #b1770b;
  font-weight: bold;
  background: -ms-linear-gradient(top, #f3e97f, #fdc159); /* IE 10 */
  background: -moz-linear-gradient(top, #f3e97f, #fdc159); /*火狐*/
  background: -webkit-gradient(
    linear,
    0% 0%,
    0% 100%,
    from(#f3e97f),
    to(#fdc159)
  ); /* Safari 4-5, Chrome 1-9*/
}
.page_middle {
  width: 1003px;
  height: auto;
  background: #ffffff;
  float: left;
  margin-top: 10px;
}
.left_main {
  width: 246px;
  height: auto;
  float: left;
  margin-right: 10px;
}
.search {
  width: 246px;
  height: 107px;
  float: left;
  background: url(../images/search_bg.jpg) no-repeat;
}
.search_input {
  margin-left: 15px;
  margin-top: 50px;
}
.search_input span {
  float: left;
}
.search_input span input[type='text'] {
  width: 150px;
  height: 25px;
  border: 1px solid #a9a9a9;
  background: #fff;
}
.search_input span input[type='button'] {
  width: 61px;
  height: 25px;
  background: url(../images/search.jpg) no-repeat;
}
.search_more {
  width: 240px;
  float: left;
  text-align: right;
}
.search_more a {
  color: #ffffff;
  text-decoration: none;
}
.search_more a:hover {
  color: #c31212;
}
.quick_links {
  width: 246px;
  height: auto;
  float: left;
  border: 1px solid #e0e0e0;
  margin-top: 10px;
}
.quick_links h5 {
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  color: #337ab7;
  background: url(../images/link.png) no-repeat 0 0px;
  padding-left: 25px;
  border-bottom: 1px dashed #cccccc;
  width: 200px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.quick_links a {
  width: 200px;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
  background: url(../images/list_icon.png) no-repeat;
  padding-left: 20px;
}
.quick_links a:hover {
  color: #c31212;
}
.tree_info {
  width: 226px;
  height: auto;
  float: left;
  border: 1px solid #e0e0e0;
  border-top: 0px;
  padding: 10px;
}
.right_main {
  position: relative;
  float: right;
  width: 746px;
}
.btn_b {
  width: 100%;
  text-align: right;
}
.padding10 {
  padding: 10px;
  border: 1px solid #cccccc;
  border-top: 0px;
}
.middle_content {
  padding: 10px;
  border: 1px solid #e0e0e0;
}
.page_bottom {
  width: 1003px;
  height: 90px;
  border-top: 1px solid #e0e0e0;
  background: #f1f1f1;
  text-align: center;
  line-height: 25px;
  margin-top: 10px;
  float: left;
  padding-top: 6px;
}
.page_bottom a {
  color: #000000;
  text-decoration: none;
}
.page_bottom a:hover {
  color: #c31212;
  text-decoration: none;
}
.checkbox-inline {
  margin-right: 15px;
  line-height: 25px;
}
.revise_list {
  width: 100%;
  margin: 10px 0;
}
.revise_list a {
  display: block;
  width: 97%;
  padding: 5px 0;
  border-bottom: 1px dashed #cccccc;
  line-height: 25px;
  padding-left: 20px;
  background: url(../images/list_icon.png) no-repeat 0 10px;
}
.revise_list a:hover {
  color: #c31212;
}
.revise_list a.on {
  color: #000000;
}
.law_text ul li.chapter_title {
  padding-bottom: 20px;
}
/* 流程状态*/
.chk_warning {
  color: #ff8800;
  font-weight: bold;
}
.chk_noPass {
  color: #f00;
  font-weight: bold;
}
.chk_normal {
  color: #090;
  font-weight: bold;
}
.tab_bottom {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  height: 30px;
}
.main_title {
  font-size: 30px;
  color: #ff0000;
  text-align: center;
}
.sub_title {
  font-size: 14px;
  text-align: center;
  margin-bottom: 25px;
}
.main_text {
  line-height: 30px;
}

/*翻页*/
.jump {
  margin: 0px 0;
  float: right;
}
.jump_text {
  float: right;
  margin: 0 0 0 5px;
  line-height: 33px;
}
.jump_text input {
  width: 40px;
  border: rgba(212, 212, 212, 1) 1px solid;
  height: 30px;
  line-height: 33px;
  background: #fff;
  text-align: center;
}
input:checked + span {
  font-weight: bold;
  font-size: 14px;
}
textarea {
  height: 98%;
  min-height: 50px;
  resize: none;
}
.ply-all {
  position: absolute;
  top: 0px;
  right: 0px;
}
.fixed {
  clear: both;
}
hr {
  margin-bottom: 10px;
  height: 1px;
  border: none;
  border-top: 1px double #e0e0e0;
}
.right_content {
  padding: 10px;
  border: 1px solid #cccccc;
  border-top: 0px;
}
.right_content2 {
  padding: 10px;
  border: 1px solid #cccccc;
}

/* tab滚动按钮*/
.flip_blue {
  width: 36px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
}
.flip_blue a {
  width: 15px;
  height: 40px;
  display: block;
  float: right;
  cursor: pointer;
}
.flip_blue > a.flip_l {
  background: #e0eaf3 url(../../skin-standard/images/arrow_l2.png) no-repeat
    center;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 1px;
}
.flip_blue > a:hover.flip_l {
  background: #c8d7e4 url(../../skin-standard/images/arrow_l2_h.png) no-repeat
    center;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.flip_blue > a.flip_r {
  background: #e0eaf3 url(../../skin-standard/images/arrow_r2.png) no-repeat
    center;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.flip_blue > a:hover.flip_r {
  background: #c8d7e4 url(../../skin-standard/images/arrow_r2_h.png) no-repeat
    center;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
/*目录catalog*/
.catalog {
  width: 96%;
  padding: 0 2%;
}
.catalog h3 {
}
.catalog ul li {
  line-height: 40px;
  border-bottom: 1px dashed #cccccc;
}
.piece {
  text-indent: 2em;
  font-size: 1.1em;
  font-weight: bold;
}
.chapter {
  text-indent: 4em;
  font-weight: bold;
}
.strip {
  text-indent: 6em;
}
.list_icon1 {
  width: 97%;
  height: 30px;
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  background: url(../images/icon1.png) no-repeat 0 2px;
}
.list_icon2 {
  width: 97%;
  height: 30px;
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  background: url(../images/icon2.png) no-repeat 0 2px;
}
.list_icon3 {
  width: 97%;
  height: 30px;
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  background: url(../images/icon3.png) no-repeat 0 2px;
}
.list_icon4 {
  width: 97%;
  height: 30px;
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  background: url(../images/icon4.png) no-repeat 0 2px;
}
.list_icon5 {
  width: 97%;
  height: 30px;
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  background: url(../images/icon5.png) no-repeat 0 2px;
}
.list_icon6 {
  width: 97%;
  height: 30px;
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  background: url(../images/icon6.png) no-repeat 0 2px;
}
.list_icon7 {
  width: 97%;
  height: 30px;
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  background: url(../images/icon7.png) no-repeat 0 2px;
}
.list_icon8 {
  width: 97%;
  height: 30px;
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  background: url(../images/icon8.png) no-repeat 0 2px;
}

.scrool_menu {
  width: 120px;
  height: 86px;
  position: fixed;
  top: 80%;
  right: 0;
}
.scrool_menu a {
  width: 120px;
  height: 41px;
  display: block;
}
.scrool_menu a.top_h {
  margin-bottom: 2px;
  background: url(../images/top_off.png) no-repeat;
}
.scrool_menu a:hover.top_h {
  margin-bottom: 2px;
  background: url(../images/top_h.png) no-repeat;
}
.scrool_menu a.feedback {
  background: url(../images/feedback_off.png) no-repeat;
}
.scrool_menu a:hover.feedback {
  background: url(../images/feedback_h.png) no-repeat;
}
.xg_icon {
  background: url(../images/xg_icon.png) no-repeat top right;
}
.xg_icon pre.xg_txt {
  color: #3de4ec;
}
.sc_icon {
  color: #cccccc;
  background: url(../images/sc_icon.png) no-repeat top right;
}
.popup {
  background: #ffffff; /*#EFEFEF;*/
  position: relative;
  float: right;
  width: 100%;
}
.popup_title {
  position: fixed;
  background: #efefef;
  top: 0;
  right: 0;
  padding: 3px 5px;
  width: 100%;
  height: 37px;
  box-shadow: 0 0 5px #888;
  margin-bottom: 15px;
  z-index: 9999;
}
.popup_title p {
  margin-right: 2px;
  margin-top: 3px;
  float: right;
}
.popup_title span {
  line-height: 35px;
  font-size: 16px;
  padding-left: 10px;
  font-weight: bold;
  color: #23527c;
}
.popup_content {
  padding: 15px;
  top: 20px;
  height: auto;
  margin-top: 40px;
  background: #fff;
}
.pop_txt {
  width: 100%;
}
.pop_txt ul li {
  width: 100%;
  height: 40px;
  border-bottom: 1px dashed #cccccc;
  line-height: 40px;
}
.pop_txt ul li span {
  display: inline-block;
  margin: 0 0px 0 20px;
  cursor: pointer;
}
.tab_options {
  border-top: 2px #0195c5 solid;
}
.tab_options ul {
  padding: 10px;
  background: #f2f2f2;
  border-radius: 5px;
}
.tab_options ul li {
  line-height: 40px;
}
.tab_options ul li button {
  margin-right: 5px;
  padding: 4px 10px;
}
.tab_options ul li button span {
  margin-left: 5px;
  font-weight: bold;
}

/*bootstrat追加*/
table {
  border-spacing: 0;
  border-collapse: collapse;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  background: #fff;
  margin-bottom: 10px !important;
}
.table > thead > tr > th {
  background: #cfe4ec;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#deeaf5), to(#c3d7ec));
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#deeaf5,
      endColorstr=#c3d7ec,
      grandientType=0
    );
  color: #333;
}
.table > thead > tr > td {
  font-weight: bold;
  background: #f1f1f1;
  min-height: 400px;
}

/*nav*/
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  /*display: block;*/
  display: inline-block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
.nav_bottom {
  margin-bottom: 15px;
}
.posi {
  position: relative;
}

/*btn*/
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:focus,
.btn-warning.focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  margin: 0 10px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
.law_text {
  width: 100%;
}
.law_text ul li {
  width: 95%;
  padding: 0 0 0 5%;
  border-bottom: 1px dashed #cccccc;
  margin: 2% 0;
}
.law_text ul li a {
  font-weight: bold;
}
.law_text .law_content {
  width: 860px;
  margin-left: 40px;
  margin-bottom: 40px;
}
.law_text .law_content pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 25px;
}
/*翻页*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.content_text {
  width: 100%;
  float: left;
  color: #999;
  padding: 0 0% 3.33% 0%;
  line-height: 30px;
}
.content_text ul li {
  float: left;
  width: 93.5%;
  margin: 0 3.33% 0 3.33%;
}
.content_text ul li span.float-right {
  float: right;
}
.content_pic {
  float: left;
  width: 100%;
}

.content_text a {
  max-width: 295px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 0px 0;
  border-radius: 4px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 60px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  margin-bottom: 2px;
  margin-right: 20px;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  border-bottom: 3px solid #b82e29;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  border-bottom: 3px solid #dc9939;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  border-bottom: 3px solid #37aacc;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-bottom: 3px solid #2b862b;
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  border-bottom: 3px solid #286fab;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-bottom: 3px solid #d6d6d6;
}
textarea.form-control {
  height: 98%;
}

.form-control {
  display: block;
  width: 100%;
  height: 23px;
  padding: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control2 {
  display: block;
  width: 90%;
  height: 23px;
  padding: 0px;
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #f8f8f8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  opacity: 1;
}

.form-control_nobg {
  display: block;
  width: 100%;
  padding: 0px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 1);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control_nobg[disabled],
.form-control_nobg[readonly],
fieldset[disabled] .form-control_nobg {
  cursor: not-allowed;
  background-color: #fff;
  opacity: 1;
}
.form-control_nobg:focus {
  border-color: #ffffff;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0.1),
    0 0 0px rgba(255, 255, 255, 1);
  box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0.1),
    0 0 0px rgba(255, 255, 255, 1);
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #e7f4fb;
}

.table-striped > tbody > tr:nth-child(even) {
  background-color: #f1f1f1;
}
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}
.table-hover > tbody > tr:hover {
  background-color: #428bca;
  color: #ffffff;
}
.table-hover > tbody > tr:hover a {
  background-color: #428bca;
  color: #ffffff;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 2px 8px;
  height: 35px;
  text-align: center;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
.table > tbody > tr > td p {
  text-align: left;
  margin: 20px 0;
}
.table > thead > tr > th.text-left {
  text-align: left;
}
.table > tbody > tr > td.text-left {
  text-align: left;
}

/*斑马纹表格*/
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ffffff;
}
.table-hover > tbody > tr:hover > td {
  color: #ffffff;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #428bca;
}

.table-hover > tbody > tr:hover > td > select,
.table-hover > tbody > tr:hover > th > input,
.table-hover > tbody > tr:hover > td > input {
  background-color: #ffffff;
  color: #000000;
}

/*table 边框*/
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
p {
  margin: 20px 0 0 0px;
  line-height: 25px;
  text-indent: 2em;
}
.page_header_logo p {
  margin: 4px 0 0 0px;
  line-height: 25px;
  text-indent: 0em;
}
.p_nomal {
  margin-top: 0;
  text-indent: 2em;
  line-height: 25px;
  padding-bottom: 20px;
  padding-left: 2em;
}
.cz_btn {
  text-align: center;
}
.cz_btn span {
  padding: 0 10px;
  display: inline-block;
}

/*表格浅色头部*/
.table > thead > tr > th.gray {
  background: #e6f1f6;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(＃deeaf5), to(＃c3d7ec));
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=＃deeaf5,
      endColorstr=＃c3d7ec,
      grandientType=0
    );
  color: #333;
}
.page-header {
  padding-bottom: 9px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #eee;
  position: relative;
}
.page-header h3 {
  background: url(../../skin-standard/images/list3.png) no-repeat 0 2px;
  padding-left: 30px;
  margin-top: 0;
  font-weight: bold;
}
.table_bg {
  background: #f9f9f9;
}
.table-hover.table_bg {
  background: #f9f9f9;
  color: #000000;
}
.table-hover > tbody > tr:hover > td.table_bg {
  background-color: #f9f9f9;
  color: #000000;
}
.table > thead > tr > td {
  font-weight: bold;
  background: #f1f1f1;
}
.tab_bottom > li > a {
  line-height: 0.7em;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #c31212;
  font-weight: bold;
}

/*日历控件修改*/
.input-group-addon {
  padding: 0px 6px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #eee;
  border: 0px solid #ccc;
  border-radius: 0px;
}
table {
  margin-top: 6px !important;
  margin-bottom: 10px !important;
}

/*日历控件*/
.form-inline .input-group {
  display: inline-table;
  vertical-align: middle;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*='col-'] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.glyphicon-remove:before {
  content: '\e014';
  cursor: pointer;
}
.glyphicon-calendar:before {
  content: '\e109';
  cursor: pointer;
}
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../../skin-standard/fonts/glyphicons-halflings-regular.eot');
  src: url('../../skin-standard/fonts/glyphicons-halflings-regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../skin-standard/fonts/glyphicons-halflings-regular.woff2')
      format('woff2'),
    url('../../skin-standard/fonts/glyphicons-halflings-regular.woff')
      format('woff'),
    url('../../skin-standard/fonts/glyphicons-halflings-regular.ttf')
      format('truetype'),
    url('../../skin-standard/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
      format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.has-success .input-group-addon {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 3px 6px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  position: inherit;
  text-align: center;
  background-color: #eee;
  z-index: 2;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type='radio'],
.input-group-addon input[type='checkbox'] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
}

/*输入框提示颜色*/
table .highlight_green,
.highlight_green {
  border: 1px solid #7abd54;
  color: #333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05),
    0 0 8px rgba(17, 179, 17, 0.6);
}
table .highlight_red,
.highlight_red {
  border: 1px solid #ff0000;
  color: #333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px rgba(255, 0, 0, 0.6);
  position: relative;
}
.error_info {
  position: absolute;
  z-index: 3;
  left: 5px;
  top: -17px;
  color: #fff;
  border-radius: 3px;
  padding: 0px 5px;
  font-size: 12px;
  background: #ff0000;
  border: 1px solid #ff0004;
}
.to-top {
  display: block;
  overflow: hidden;
  width: 0px;
  height: 0px;
  border: 4px solid #ccc;
  border-color: #ff0000 #fff;
  color: #ffffff;
  border-width: 4px 4px 0 4px;
  position: absolute;
  left: 30px;
  bottom: -5px;
  margin-top: -5px;
}
td {
  position: relative;
  word-break: break-all;
  word-wrap: break-word;
}
/*dialog*/
.dialog {
  top: 300px !important;
  width: 300px;
  height: auto;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.dialog_title {
  height: 38px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  padding: 0.4em 1em;
  position: relative;
  color: #ffffff;
}
.dialog_content {
  border-radius: 4px;
  padding: 0.4em 1em 0.4em 3.5em;
  position: relative;
  border-bottom: #dddddd 1px solid;
  min-height: 48px;
  margin-top: 5px;
  word-break: break-all;
}
.dialog_bottom {
  border-radius: 4px;
  padding: 0.4em 0em;
  position: relative;
  text-align: right;
}
.dialog_bottom > button {
  margin-left: 2px;
}
.dialog_icon_info {
  background: url(../images/info.png) no-repeat 10px top;
}
.dialog_icon_success {
  background: url(../images/success.png) no-repeat 10px top;
}
.dialog_icon_warning {
  background: url(../images/warning.png) no-repeat 10px top;
}
.dialog_icon_danger {
  background: url(../images/danger.png) no-repeat 10px top;
}
.dialog_info {
  border-color: #269abc;
  background-color: #31b0d5;
}

.sf-tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.sf-tree li {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sf-tree ul li {
  list-style: none;
  margin: 8px 0;
  padding: 0;
  white-space: nowrap;
  outline: 0;
}

.sf-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}

.sf-tree-title {
  display: inline-block;
  margin: 0;
  padding: 0 4px;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: top;
  color: #495060;
  transition: all 0.2s ease-in-out;
}

.sf-tree-title-selected,
.sf-tree-title:hover {
  background-color: #d5e8fc;
}

.sf-tree-arrow {
  cursor: pointer;
}
